//General styles
@use '../../styles.scss' as *;

// 1st Header Column

#header-full-width {
    width: 100%;
    height: 40px;
    background-color: $cb-white-ish;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $cb-grey-ish;

    &:hover #header-logo-div img {
        transform: rotate(1360deg);
    }
}

#header-content-limitation {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo-div {
    display: flex;
    align-items: center;
    padding: 0 4px;

    img {
        transition: transform 2s ease-in-out;
    }

    #header-logo-link {
        display: flex;
        align-items: center;
    }
}

#header-logo-img {
    height: 30px;
    width: 30px;
}

#page-heading {
    color: $cb-grey-ish;
    font-size: 20px;
    margin-left: 8px;
}

// 2nd Header Column

#header-navigation-div {
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $cb-grey-ish;
    font-size: 20px;
    height: 39px;
    align-self: center;
    padding: 4px;

    &:hover {
        cursor: pointer;
        border-radius: 4px 4px 0 0;
    }
}

#photography-nav:hover {
    background: $cb-green-ish;
}

#blog-nav:hover {
    background: $cb-orange-ish;
}

#career-nav:hover {
    background: $cb-blue-ish;
}

// 3rd Header Column
#header-3rd-row-div {
    color: $cb-grey-ish;
    font-size: 20px;
    padding: 4px;
    min-width: 50px;
    display: flex;
    justify-content: end;
}

//Dropdown menu
.hide-dropdown {
    display: none;
}

.dropdown-list {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $cb-white-ish;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid $cb-grey-ish;
    gap: 4px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease;
    pointer-events: none;
}

.dropdown-list.open {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
}

.complete-menu-div {
    position: relative;
    min-width: 160px;
}

.complete-menu-div:hover .nav-item {
    border-radius: 4px 4px 0 0;
}

.complete-menu-div:hover #photography-nav {
    background-color: $cb-green-ish;
}

.complete-menu-div:hover #blog-nav {
    background-color: $cb-orange-ish;
}

.complete-menu-div:hover #career-nav {
    background-color: $cb-blue-ish;
}

.dropdown-link {
    background-color: $cb-white-ish;
    color: $cb-grey-ish !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px;
    gap: 4px;
}

.dropdown-link-photography:hover {
    background-color: $cb-green-ish;
}

.dropdown-link-blog:hover {
    background-color: $cb-orange-ish !important;
}

.dropdown-link-career:hover {
    background-color: $cb-blue-ish;
}

.last-link-in-dropdown {
    border-radius: 0 0 4px 4px;
}

.adobe-stock-logo {
    width: 16px;
    height: 16px;
}

.open-in-new-tab-icon {
    width: 16px;
    height: 16px;
}

.github-logo {
    width: 18px;
    height: 18px;
}

.linkedIn-Logo {
    width: 16px;
    height: 16px;
}

//Burger Menu
#burger-menu-open-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: $cb-grey-ish;
    background-color: $cb-white-ish;
    border: none;
    border-radius: 4px;
    padding: 4px;
    margin: 0 4px 0 0;
    cursor: pointer;
}

#burger-menu-close-icon {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: $cb-white-ish;
    border: none;
    font-weight: 900;
    font-size: 24px;
    width: 32px;
    height: 32px;
    color: $cb-red-ish;
    margin-right: 4px;
    cursor: pointer;
}

#burger-menu-content {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    padding-top: 0px;
    gap: 8px;
    background-color: $cb-white-ish;
    overflow: hidden;
    transition: height 0.8s ease;

    a {
        color: $cb-grey-ish;
        padding: 4px;
        width: 100%;
        text-align: start;

        &.burger-menu-green-item:hover {
            background-color: $cb-green-ish;
        }

        &.burger-menu-orange-item:hover {
            background-color: $cb-orange-ish;
        }

        &.burger-menu-blue-item:hover {
            background-color: $cb-blue-ish;
        }
    }
}

#burger-menu-content.open {
    height: calc(100dvh - 41px);
    width: 100vw;
}

#burger-menu-content.closing {
    height: 0;
    width: 0;
}

#burger-menu-main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: end;
    width: 100%;
    background-color: $cb-white-ish;
}

.mobile-dropdown-link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

// Mobile Dropdown Menus
#mobile-photography-dropdown,
#mobile-blog-dropdown,
#mobile-career-dropdown {
    display: none;
    width: 100%;
}

.goBackToMainMobileMenu {
    display: none;
}

#adobe-stock-mobile-logo {
    width: 16px;
    height: 16px;
}

// Dark Mode Toggle Elements
#light-icon {
    display: none;
    cursor: pointer;

    & img {
        height: 20px;
        width: 20px;
    }
}

#moon-icon {
    cursor: pointer;
    display: flex;
    align-items: center;

    & img {
        height: 20px;
        width: 20px;
    }
}

#mobileBottomMenu {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 80px;
    width: 100%;
    padding-left: 4px;
    border-top: 1px solid $cb-grey-ish;
    background-color: $cb-white-ish;
}

#mobile-bottom-Menu-first-coloum {
    width: 33%;
    display: flex;
    display: flex;
    justify-content: center;
}

#light-icon-burger {
    display: none;
    cursor: pointer;

    & img {
        height: 28px;
        width: 28px;
    }
}

#moon-icon-burger {
    cursor: pointer;

    & img {
        height: 28px;
        width: 28px;
    }
}

// Responsive Designs

@media(max-width: 1919px) {}

@media(max-width: 1279px) {}


@media(min-width: 769px) {
    #burger-menu-icon {
        display: none;
    }
}

@media(max-width: 768px) {
    #header-navigation-div {
        display: none;
    }

    #header-3rd-row-div {
        display: none;
    }

    #burger-menu-icon {
        display: flex;
    }
}



@media(max-width: 480px) {}