//General styles
@use '../../styles.scss' as *;

// 1st Header Column

#header-full-width {
    width: 100%;
    background-color: $cb-white-ish;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $cb-grey-ish;

    &:hover #header-logo-div img {
        transform: rotate(1360deg);
    }
}

#header-content-limitation {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo-div {
    display: flex;
    align-items: center;
    padding: 0 4px;

    img {
        transition: transform 2s ease-in-out;
    }

    #header-logo-link {
        display: flex;
        align-items: center;
    }
}

#header-logo-img {
    height: 30px;
    width: 30px;
}

#page-heading {
    color: $cb-grey-ish;
    font-size: 20px;
    margin-left: 8px;
}

// 2nd Header Column

#header-navigation-div {
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav {
    color: $cb-grey-ish;
    font-size: 20px;
    align-self: center;
    padding: 4px;

    &:hover {
        cursor: pointer;
        border-radius: 4px 4px 0 0;
    }
}

#photography-nav:hover {
    background: $cb-green-ish;
}

#career-nav:hover {
    background: $cb-blue-ish;
}

// 3rd Header Column
#header-3rd-row-div {
    color: $cb-grey-ish;
    font-size: 20px;
    padding: 4px;
    min-width: 50px;
    display: flex;
    justify-content: end;
}

//Dropdown menu
.dropdown-list {
    display: none;
}

.complete-menu-div {
    position: relative;
}

.complete-menu-div:hover .dropdown-list {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 101%;
    left: 0;
    background-color: $cb-white-ish;
    border-top: 1px solid $cb-grey-ish;
    border-radius: 0 0 4px 4px;
    gap: 4px;
}

.complete-menu-div:hover #photography-nav {
    background-color: $cb-green-ish;
    border-radius: 4px 4px 0 0;
}

.complete-menu-div:hover #career-nav {
    background-color: $cb-blue-ish;
    border-radius: 4px 4px 0 0;
}

.dropdown-link {
    background-color: $cb-white-ish;
    color: $cb-grey-ish !important;
    padding: 4px
}

.dropdown-link-photography:hover {
    background-color: $cb-green-ish;
}

.dropdown-link-career:hover {
    background-color: $cb-blue-ish;
}

.last-link-in-dropdown {
    border-radius: 0 0 4px 4px;
}

//Burger Menu
#burger-menu-icon {
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    font-size: 16px;
    color: $cb-grey-ish;
    background-color: $cb-white-ish;
    border: none;
    border-radius: 4px;
    padding: 4px;
    margin: 0 4px 0 0;
    cursor: pointer;
}

#burger-menu-close-icon {
    display: none;
    background-color: $cb-red-ish;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    width: 22px;
    height: 22px;
    color: $cb-grey-ish;
    margin-right: 4px;
    cursor: pointer;
}

#burger-menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 31px;
    padding-top: 8px;
    gap: 8px;
    background-color: $cb-white-ish;
    width: 100vw;
    height: calc(100vh - 31px);

    a {
        color: $cb-grey-ish;
        padding: 4px;

        &:hover {
            background-color: $cb-green-ish;
        }
    }
}

// Dark Mode Toggle Elements
#light-icon {
    display: none;
    cursor: pointer;
}

#moon-icon {
    cursor: pointer;
}

// Responsive Designs

@media(max-width: 1919px) {}

@media(max-width: 1279px) {}


@media(min-width: 769px) {
    #burger-menu {
        display: none;
    }
}

@media(max-width: 768px) {
    #header-navigation-div {
        display: none;
    }

    #header-3rd-row-div {
        display: none;
    }

    #burger-menu {
        display: flex;
    }
}



@media(max-width: 480px) {}