<header id="header-full-width">
    <div id="header-content-limitation">
        <div id="header-logo-div">
            <a id="header-logo-link" href=""><img id="header-logo-img"
                    src="/assets/img/icons-and-logos/christian-boehme-logo.png" alt="Logo of Christian Boehme">
                <span id="page-heading">Christian Böhme</span>
            </a>
        </div>

        <div id="header-navigation-div">
            <!-- Photography Menu -->
            <div class="complete-menu-div" (mouseenter)="setDesktopDropdown('photography')"
                (mouseleave)="setDesktopDropdown(null)">
                <a class=" menu-link" id="menu-link-photography" href="javascript:void(0);">
                    <nav class="nav-item" id="photography-nav">Photography</nav>
                </a>
                <div class="dropdown-list" [class.open]="openDesktopDropdownMenu === 'photography'">
                    <a target="_blank"
                        href="https://stock.adobe.com/de/contributor/211348852/christian-boehme-com?load_type=author&prev_url=detail"
                        class="dropdown-link dropdown-link-photography">
                        <img class="adobe-stock-logo" [src]="darkmodePNG('adobe-stock-logo')" alt="adobe stock logo">Buy
                        my
                        photos on
                        adobe stock
                    </a>
                    <a href="/" class="dropdown-link dropdown-link-photography">
                        Landscape Gallery
                    </a>
                    <a href="/" class="dropdown-link dropdown-link-photography last-link-in-dropdown">
                        Aviation Gallery
                    </a>
                </div>
            </div>
            <!-- Blog Menu -->
            <div class="complete-menu-div" (mouseenter)="setDesktopDropdown('blog')"
                (mouseleave)="setDesktopDropdown(null)">
                <a class="menu-link" id="menu-link-blog" href="javascript:void(0);">
                    <nav class="nav-item" id="blog-nav">Blog</nav>
                </a>
                <div class="dropdown-list" [class.open]="openDesktopDropdownMenu === 'blog'">
                    <a href="/" class="dropdown-link dropdown-link-blog last-link-in-dropdown">
                        MSFS Career addons comparison
                    </a>
                </div>
            </div>
            <!-- Career Menu -->
            <div (mouseenter)="setDesktopDropdown('career')" (mouseleave)="setDesktopDropdown(null)"
                class="complete-menu-div">
                <a class="menu-link" id="menu-link-career" href="javascript:void(0);">
                    <nav id="career-nav">Career</nav>
                </a>
                <div class="dropdown-list" [class.open]="openDesktopDropdownMenu === 'career'">
                    <a target="_blank" href="https://career.christian-boehme.com"
                        class="dropdown-link dropdown-link-career">
                        <img class="open-in-new-tab-icon" [src]="darkmodePNG('open-in-new-tab-icon')"
                            alt="open in new tab icon">Career
                        Website
                    </a>
                    <a target="_blank" href="https://github.com/WorldChris380"
                        class="dropdown-link dropdown-link-career">
                        <img class="github-logo" [src]="darkmodePNG('GitHub-logo')" alt="GitHub Logo">GitHub Profile
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/christian-boehme-business/"
                        class="dropdown-link dropdown-link-career last-link-in-dropdown">
                        <img class="linkedIn-Logo" [src]="darkmodePNG('linkedIn-logo')" alt="LinkedIn Logo">
                        LinkedIn Profile
                    </a>
                </div>
            </div>
        </div>
        <div id="header-3rd-row-div">
            <span (click)="toggleDarkMode()" id="moon-icon"><img [src]="darkmodePNG('mode-icon')" alt="Darkmode Icon">
            </span>
            <span (click)="toggleDarkMode()" id="light-icon"><img [src]="darkmodePNG('mode-icon')"
                    alt="Brightmode Icon">
            </span>
        </div>
        <div id="burger-menu-icon">
            <button (click)="toggleBurgerMenu()" id="burger-menu-open-icon" type="button"
                [style.display]="burgerMenuOpen ? 'none' : 'flex'">☰
            </button>
            <button (click)="toggleBurgerMenu()" id="burger-menu-close-icon" type="button"
                [style.display]="burgerMenuOpen ? 'flex' : 'none'">X
            </button>
        </div>
    </div>
    <div id="burger-menu-content" [class.open]="burgerMenuOpen" [class.closing]="burgerMenuClosing">
        <div id="burger-menu-main-content">

            <a (click)="goBackToMainMobileMenuFunc()" class="goBackToMainMobileMenu" href="javascript:void(0)">
                < go back </a>
                    <!-- Mobile Photography Menu -->
                    <a (click)="toggleMobileDropdownMenu('photography')" class="burger-menu-green-item"
                        href="javascript:void(0);">Photography</a>
                    <div *ngIf="openMobileDropdownMenu === 'photography'" id="mobile-photography-dropdown"
                        [class.open]="openMobileDropdownMenu === 'photography'">
                        <a target="_blank" class="mobile-dropdown-link dropdown-link-photography"
                            href="https://stock.adobe.com/de/contributor/211348852/christian-boehme-com?load_type=author&prev_url=detail">
                            <img id="adobe-stock-mobile-logo" [src]="darkmodePNG('adobe-stock-logo')"
                                alt="adobe stock logo">Buy my photos on adobe stock
                        </a>
                        <a href="javascript:void(0);" class="mobile-dropdown-link dropdown-link-photography">
                            Landscape Gallery
                        </a>
                        <a href="javascript:void(0);" class="mobile-dropdown-link dropdown-link-photography">
                            Aviation Gallery
                        </a>
                    </div>

                    <!-- Mobile Blog Menu -->
                    <a (click)="toggleMobileDropdownMenu('blog')" class="burger-menu-orange-item"
                        href="javascript:void(0);">Blog</a>
                    <div *ngIf="openMobileDropdownMenu === 'blog'" id="mobile-blog-dropdown"
                        [class.open]="openMobileDropdownMenu === 'blog'">
                        <a class="mobile-dropdown-link dropdown-link-blog" href="javascript:void(0);"
                            [class.open]="openMobileDropdownMenu === 'blog'">
                            MSFS Career addons comparison
                        </a>
                    </div>

                    <!-- Mobile Career Menu -->
                    <a (click)="toggleMobileDropdownMenu('career')" class="burger-menu-blue-item"
                        href="javascript:void(0);">Career</a>
                    <div *ngIf="openMobileDropdownMenu === 'career'" id="mobile-career-dropdown"
                        [class.open]="openMobileDropdownMenu === 'career'">
                        <a target="_blank" href="https://career.christian-boehme.com"
                            class="mobile-dropdown-link dropdown-link-career">
                            <img class="open-in-new-tab-icon" [src]="darkmodePNG('open-in-new-tab-icon')"
                                alt="open in new tab icon">Career
                            Website
                        </a>
                        <a target="_blank" href="https://github.com/WorldChris380"
                            class="mobile-dropdown-link dropdown-link-career">
                            <img class="github-logo" [src]="darkmodePNG('GitHub-logo')" alt="GitHub Logo">GitHub
                            Profile
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/christian-boehme-business/"
                            class="mobile-dropdown-link dropdown-link-career">
                            <img class="linkedIn-Logo" [src]="darkmodePNG('linkedIn-logo')" alt="LinkedIn Logo">
                            LinkedIn Profile
                        </a>
                    </div>
        </div>
        <div id="mobileBottomMenu">
            <div id="mobile-bottom-Menu-first-coloum">
                <span (click)="toggleDarkMode()" id="moon-icon-burger"><img [src]="darkmodePNG('mode-icon')"
                        alt="icon for turning on dark mode">
                </span>
                <span (click)="toggleDarkMode()" id="light-icon-burger"><img [src]="darkmodePNG('mode-icon')"
                        alt="icon for turning on light mode">
                </span>
            </div>
        </div>

    </div>
</header>