// Color definitions
$cb-white-ish: white;
$cb-grey-ish: #1f1f1f;
$cb-green-ish: #d2ee82;
$cb-blue-ish: #89BCD9;
$cb-red-ish: #f28c8c;

// Font import
@font-face {
    font-family: 'Quicksand';
    src: url('/assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400; // Normal
    font-style: normal;
}

// Global styles
* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0 !important;
    padding: 0;
}

a {
    text-decoration: none;
}

// Dark mode styles
// Header dark mode
body.dark-mode #header-full-width {
    background-color: $cb-grey-ish !important;
    color: $cb-white-ish;
}

body.dark-mode #page-heading {
    color: $cb-white-ish;
}

body.dark-mode nav {
    color: $cb-white-ish;
}

body.dark-mode .dropdown-list {
    background-color: $cb-grey-ish !important;
}

body.dark-mode .dropdown-link-photography:hover {
    background-color: $cb-green-ish !important;
}

body.dark-mode .dropdown-link-career:hover {
    background-color: $cb-blue-ish !important;
}

body.dark-mode .dropdown-link {
    background-color: $cb-grey-ish !important;
    color: $cb-white-ish !important;
}

body.dark-mode #burger-menu-icon {
    background-color: $cb-grey-ish !important;
    color: $cb-white-ish !important;
}

body.dark-mode #burger-menu-close-icon {
    color: $cb-white-ish !important;
}

body.dark-mode #burger-menu-content {
    background-color: $cb-grey-ish !important;

    & a {
        color: $cb-white-ish !important;
        background-color: $cb-grey-ish !important;
    }

    & .burger-menu-green-item:hover {
        background-color: $cb-green-ish !important;
    }

    & .burger-menu-blue-item:hover {
        background-color: $cb-blue-ish !important;
    }
}