// Color definitions
$cb-white-ish: white;
$cb-grey-ish: #1f1f1f;
$cb-green-ish: #d2ee82;
$cb-dark-green-ish: #5e784d;
$cb-blue-ish: #89BCD9;
$cb-orange-ish: #fbc093;
$cb-red-ish: #f28c8c;

/* Expose key colors as CSS variables so component scss can consume them */
:root {
    --cb-dark-grey: #{$cb-grey-ish};
    --cb-white-ish: #{$cb-white-ish};
}

/* Dark mode CSS variables override */
body.dark-mode {
    --cb-dark-grey: #{$cb-white-ish};
    --cb-white-ish: #{$cb-grey-ish};
}

// Font import
@font-face {
    font-family: 'Quicksand';
    src: url('/assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400; // Normal
    font-style: normal;
}

// Global styles
* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 !important;
    padding: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:visited {
    color: $cb-grey-ish;
}

// Dark mode styles

/* Global dark background + base text color */
body.dark-mode {
    background-color: #121212;
    color: #e5e5e5;
}

body.dark-mode a:visited {
    color: $cb-white-ish;
}

body.dark-mode #header-full-width {
    background-color: $cb-grey-ish !important;
    color: $cb-white-ish;
    border-bottom: solid 1px $cb-white-ish;
}

body.dark-mode #page-heading {
    color: $cb-white-ish;
}

body.dark-mode nav {
    color: $cb-white-ish;
}

body.dark-mode .dropdown-list {
    background-color: $cb-grey-ish !important;
}

body.dark-mode .dropdown-link-photography:hover {
    background-color: $cb-green-ish !important;
}

body.dark-mode .dropdown-link-aviation:hover {
    background-color: $cb-blue-ish !important;
}

body.dark-mode .dropdown-link-blog:hover {
    background-color: $cb-orange-ish !important;
}

body.dark-mode .dropdown-link-career:hover {
    background-color: $cb-blue-ish !important;
}

body.dark-mode .dropdown-link-travel:hover {
    background-color: $cb-dark-green-ish !important;
}

body.dark-mode .dropdown-link {
    background-color: $cb-grey-ish !important;
    color: $cb-white-ish !important;
}

body.dark-mode #burger-menu-icon {
    background-color: $cb-grey-ish !important;
    color: $cb-white-ish !important;
}

body.dark-mode #burger-menu-open-icon {
    background-color: $cb-grey-ish !important;
    color: $cb-white-ish !important;
}

body.dark-mode #burger-menu-close-icon {
    color: $cb-white-ish !important;
    background-color: $cb-grey-ish !important;
}

body.dark-mode #burger-menu-content {
    background-color: $cb-grey-ish !important;

    & a {
        color: $cb-white-ish !important;
        background-color: $cb-grey-ish !important;
    }

    & .burger-menu-green-item:hover {
        background-color: $cb-green-ish !important;
    }

    & .burger-menu-blue-item:hover {
        background-color: $cb-blue-ish !important;
    }

    & .burger-menu-dark-green-item:hover {
        background-color: $cb-dark-green-ish !important;
    }

    & .burger-menu-orange-item:hover {
        background-color: $cb-orange-ish !important;
    }

    & .dropdown-link-photography:hover {
        background-color: $cb-green-ish !important;
    }

    & .dropdown-link-aviation:hover {
        background-color: $cb-blue-ish !important;
    }

    & .dropdown-link-blog:hover {
        background-color: $cb-orange-ish !important;
    }

    & .dropdown-link-career:hover {
        background-color: $cb-blue-ish !important;
    }

}

body.dark-mode #mobileBottomMenu {
    border-top: 1px solid $cb-white-ish;
    background-color: $cb-grey-ish !important;
}

// Dark mode for counters
body.dark-mode .counter-card {
    background: #2a2a2a;
    color: #fff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

body.dark-mode .counter-number {
    color: #fff;
}

body.dark-mode .counter-label {
    color: #fff;
    opacity: 0.9;
}

body.dark-mode .placeholder {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.05) 75%);
}

// Footer

body.dark-mode #footer-full-width {
    background-color: $cb-grey-ish;

    & div {
        color: $cb-white-ish;
    }
}